<h2>PARQUEOS</h2>
<div class="col-lg-6">
	<div class="container">
	<table class="row table table-hover">
		<thead>
			<tr>
				<th>Codigo Ficha</th>
				<th>Matricula</th>
				<th>ID Cliente</th>
				<th>Horas</th>
				<th>Precio</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.parqueos">
				<td>{{item.codigoFicha}}</td>
				<td>{{item.matricula.matricula}}</td>
				<td>{{item.idCliente.nombre}}</td>
				<td>{{item.horas}}</td>
				<td>{{item.precio}}</td>
				<td>{{item.fecha}}</td>
			</tr>
		</tbody>
	</div>
</div>
<div class="container col-lg-offset-7">
	<input type="number" ng-model="vm.parqueos.codigoFicha">
	<button ng-click="vm.obtener(item)" class="btn btn-success">Calcular Pago</button>
</div>
